@tailwind base
@tailwind components
@tailwind utilities


body, html
    @apply w-screen
    min-height: 100vh
    overflow-x: clip
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased

body
    @apply bg-neutral-900 text-white/70 relative cursor-default overflow-x-hidden w-screen
    scroll-behavior: smooth
    font-family: system-ui

.container
    @apply max-w-5xl mx-auto px-5

.card
    @apply min-w-[350px] bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-md

.btn-primary
    @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700

.input-primary
    @apply w-full py-2 px-2 bg-transparent border-2 border-white/10 rounded-lg mb-2

.form-label
    @apply text-white/70 text-sm my-1 block

.form-group
    @apply mb-5
